/* 
header{
    height:100px;
    background-color: cornflowerblue;
}
    nav{
    height: 100px;
    background-color: blueviolet;
}
.card{
    height:400px;
}
.red {
    background-color: red;
}
.blue{
    background-color: blue;
}
.yellow{
    background-color: gold;
}
footer{
    height: 100px;
    background-color: aqua;
} */